html {
  font-size: 62.5%;
}

body {
  --small-spacing: 4px;
  --medium-spacing: 8px;
  --large-spacing: 16px;
  --background-1: #1f1731;
  --background-2: #2a2041;
  --foreground-1: #f2efff;
  --anchor-1: #d2b83a;
  --anchor-2: var(--foreground-1);

  background-color: var(--background-1);
  color: var(--foreground-1);
  font-size: 1.5rem;
}

a,
a:visited {
  color: var(--anchor-1);

  &:hover {
    color: var(--anchor-2);
  }
}

blockquote,
h1,
h2,
h3,
p,
ol,
li {
  margin: 0;
  padding: 0;
}

blockquote {
  background-color: var(--background-2);
  border-left: 2px solid var(--foreground-1);
  margin-bottom: var(--medium-spacing);
  padding: var(--medium-spacing);
}

details {
  border: 1px dashed var(--foreground-1);

  summary {
    background-color: var(--background-2);
    cursor: pointer;
    padding: var(--medium-spacing);
  }

  &[open] > summary {
    border-bottom: 1px dashed var(--foreground-1);
  }
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.small {
  font-size: 1rem;
}
