html {
  font-size: 62.5%;
}

body {
  --small-spacing: 4px;
  --medium-spacing: 8px;
  --large-spacing: 16px;
  --background-1: #222;
  --background-2: #111;
  --foreground-1: #fff;
  --anchor-1: #f0f;
  --anchor-2: #000;

  background-color: var(--background-1);
  color: var(--foreground-1);
  font-size: 1.5rem;
}

a,
a:visited {
  color: var(--anchor-1);
  text-decoration: none;

  &:hover {
    background-color: var(--anchor-1);
    color: var(--anchor-2);
  }
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
p,
ol,
li {
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}
